/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This style is for creating Firefox based apps. Will blend in elementary OS with default button layout. Few things borrowed from https://github.com/Zonnev/elementaryos-firefox-theme */

/* nav bar (hidden)*/
#nav-bar {
  max-height: 33px !important;
  min-height: 33px !important;
  margin-top: -33px !important;
  pointer-events: none !important;
  padding: 0 40px !important;
  background-color: transparent !important;
}
#urlbar-container {
  visibility: collapse !important;
  margin: 0 !important;
}
#PanelUI-button {
  display: none !important;
}
#customizationui-widget-panel, #back-button, #forward-button {
  pointer-events: initial !important;
}
#TabsToolbar .toolbar-items {
  padding-left: 80px !important;
}

/* fix black line under tabs */
#navigator-toolbox {
  border-bottom: 1px solid #898989 !important;
}
#main-window[gtktiledwindow="true"] #navigator-toolbox{
  background-color: #F5F5F5 !important;
}

/* tabs */
#tabbrowser-tabs > #tabbrowser-arrowscrollbox > .tabbrowser-tab {
  max-height: 31px !important;
  min-height: 31px !important;
  margin-top: 2px !important;
}
.tabbrowser-tab:after {
    display: none !important; /* don't show border between tabs    */
}
.tabbrowser-tab:before {
    display: none !important; /* don't show border between tabs    */
}
.tabbrowser-tab:not([visuallyselected="true"]) {
    border-right: 1px solid transparent !important;
    border-image: linear-gradient(to bottom, transparent, rgba(0,0,0, 0.1)) 1 !important;
}
.tabbrowser-tab[selected="true"] {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}
.tab-background {
    /* background: unset !important; */
    border: none !important;
}
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"], [multiselected]) {
    background-color: transparent !important;
}
.tab-background[selected="true"] {
    border-top: 1px solid #898989 !important;
    border-left: 1px solid #898989 !important;
    border-right: 1px solid #898989 !important;
    border-bottom: 0px solid #898989 !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}
.tab-content:not([pinned]), .tab-content:not([pinned]):not([selected="true"]) {
    -moz-box-direction: reverse !important;
}
.tab-text,
.menubar-text,
.bookmark-item:not(.subviewbutton) > .toolbarbutton-text {
    font-size: 1.02em !important;
    color: #5B5B5B !important;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.4) !important;
}
.tab-label {
    -moz-box-flex: 1 !important;
    margin-left: 6px !important;
    text-align: center !important;
}
.tab-line {
    display: none !important; /* strip of color at the top of tab */
}
#TabsToolbar .tab-close-button {
    margin-right: 3px !important;
    margin-left: 0px !important;
    border-radius: 2px !important;
    list-style-image: url("data:image/svg+xml,%3Csvg height='16' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg color='%235b5b5b' transform='translate%28-713 -157%29'%3E%3Cpath d='M720.97 163.556L723.5 161l1.5 1.5-2.598 2.487L725 167.5l-1.5 1.5-2.512-2.599L718.5 169l-1.5-1.5 2.586-2.5-2.586-2.5 1.5-1.5z' fill='%235b5b5b' overflow='visible' style='marker:none'/%3E%3C/g%3E%3C/svg%3E") !important;
    filter: drop-shadow(0 1px 0 rgba(255,255,255, 0.4)) !important;
}
#TabsToolbar tab:not([visuallyselected="true"]):not(:hover) .tab-close-button {
    opacity: 0 !important;
}
#TabsToolbar tab:hover .tab-close-button {
    opacity: 1 !important;
}
#TabsToolbar tab .close-icon:hover {
    -moz-image-region: unset !important;
    background-color: none !important;
    background-clip: padding-box !important;
}
#TabsToolbar tab .close-icon:hover:active {
    background-color: rgba(0,0,0,0.1) !important;
}
#new-tab-button {
  border-right: 1px solid transparent !important;
  border-left: 1px solid transparent !important;
  border-image: linear-gradient(to bottom, transparent, rgba(0,0,0, 0.1)) 1 !important;
}

/* titlebar */
.titlebar-buttonbox-container {
    display: flex !important;
    pointer-events: none;
}
.titlebar-buttonbox {
    flex-direction: row-reverse !important;
    margin-left: 3px !important;
    top: 5px !important;
    position: fixed !important;
    display: flex !important;
    width: calc(100vw - 9px) !important;
    justify-content: space-between !important;
}
:root[sizemode="fullscreen"] .titlebar-buttonbox {
    display: none !important; /* fullscreen no window control buttons */
}
.titlebar-close,
.titlebar-min,
.titlebar-max,
.PanelUI-menu-button,
#wrapper-new-tab-button,
.tabs-newtab-button,
.tabbrowser-tab,
.tabbrowser-arrowscrollbox,
.titlebar-restore {
    pointer-events: auto !important; /* clickable */
}

/* icons */
#back-button > .toolbarbutton-icon,
#forward-button .toolbarbutton-icon {
    padding: 2px !important;
    clip-path: circle(50%) !important;
}
#back-button, #forward-button {
  padding: 2px !important;
}
#back-button > .toolbarbutton-icon {
    list-style-image: url("data:image/svg+xml,%3Csvg height='24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate%28-393 255%29'%3E%3Cpath color='%23bebebe' d='M405.188-251.016c-.246-.01-.476.1-.657.28l-7.125 6.97a1.03 1.03 0 0 0-.28.5.965.965 0 0 0-.032.28.976.976 0 0 0 0 .094c.01.055.012.104.031.157.04.189.13.38.281.531l7.125 6.969c.362.361.952.329 1.344-.063l1.406-1.406c.392-.392.425-1.013.063-1.375l-2.906-2.906H411c.554 0 1-.446 1-1v-2c0-.554-.446-1-1-1h-6.594l2.938-2.938c.362-.361.33-.952-.063-1.343l-1.406-1.438a1.035 1.035 0 0 0-.687-.312z' fill='%235e5e5e' overflow='visible' style='marker:none'/%3E%3C/g%3E%3C/svg%3E") !important;
    filter: drop-shadow(0 1px 0 rgba(255,255,255, 0.4));
    border: none !important;
    background: none !important;
}
#back-button:active > .toolbarbutton-icon {
    background: rgba(51,51,51, 0.15) !important;
    box-shadow: none !important;
}
#forward-button {
    list-style-image: url("data:image/svg+xml,%3Csvg height='24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate%28-433 255%29'%3E%3Cpath color='%23bebebe' d='M444.813-251.016c.245-.01.475.1.656.28l7.125 6.97c.147.146.239.316.281.5a.965.965 0 0 1 .031.28.976.976 0 0 1 0 .094c-.01.055-.011.104-.03.157-.041.189-.13.38-.282.531l-7.125 6.969c-.362.361-.952.329-1.344-.063l-1.406-1.406c-.392-.392-.424-1.013-.063-1.375l2.907-2.906H439c-.554 0-1-.446-1-1v-2c0-.554.446-1 1-1h6.594l-2.938-2.938c-.361-.361-.329-.952.063-1.343l1.406-1.438c.196-.196.442-.303.688-.312z' fill='%235e5e5e' overflow='visible' style='marker:none'/%3E%3C/g%3E%3C/svg%3E") !important;
    filter: drop-shadow(0 1px 0 rgba(255,255,255, 0.4));
}
#new-tab-button .toolbarbutton-icon {
    list-style-image: url("data:image/svg+xml,%3Csvg height='16' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg color='%235b5b5b' transform='translate%28-293 -117%29'%3E%3Cpath d='M300 120v4h-4v2h4v4h2v-4h4v-2h-4v-4z' fill='%235b5b5b' overflow='visible' style='marker:none'/%3E%3C/g%3E%3C/svg%3E") !important;
    filter: drop-shadow(0 1px 0 rgba(255,255,255, 0.4)) !important;
    width: 28px !important;
    height: 28px !important;
    padding: 6px !important;
    clip-path: circle(50%) !important;
    margin-top: 1px !important;
}

/* toolbar */
:root:not([customizing]) .toolbarbutton-1[disabled="true"] {
    opacity: 0.6 !important;
}
toolbar .toolbarbutton-1 {
  padding: 2px !important;
  margin-bottom: 0 !important;
}
toolbar .toolbarbutton-1 > .toolbarbutton-icon, toolbar .toolbarbutton-1 > .toolbarbutton-badge-stack {
    width: 28px !important;
    height: 28px !important;
    padding: 6px !important;
}
toolbar .toolbarbutton-1:hover > .toolbarbutton-icon,
toolbar .toolbarbutton-1:hover > .toolbarbutton-badge-stack {
    background: none !important;
    box-shadow: none !important;
}
toolbar .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :hover:active) > .toolbarbutton-icon,
toolbar .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :hover:active) > .toolbarbutton-badge-stack {
    background: rgba(51,51,51, 0.15) !important;
    clip-path: circle(50%) !important;
}
#main-window[gtktiledwindow="true"] .toolbar-items[align="end"] {
  padding-right: 40px;
}
.titlebar-spacer[type="pre-tabs"] {
  border-inline-end: none !important;
}

/* fulscreen */
#fullscr-toggler {
    height: 3px !important;
}
#fullscreen-exit-button {
    color: #ffffff !important;
}
#window-controls {
    display: none !important;
}

/* focus window fix */
#back-button .toolbarbutton-icon:-moz-window-inactive,
#forward-button .toolbarbutton-icon:-moz-window-inactive,
#preferences-button .toolbarbutton-icon:-moz-window-inactive,
#nav-bar-overflow-button .toolbarbutton-icon:-moz-window-inactive,
#downloads-button:-moz-window-inactive,
#multiple-paste-and-go-button_wantora_github_io-browser-action:-moz-window-inactive {
    opacity: 0.7 !important;
}
:root:not([customizing]) .toolbarbutton-1[disabled="true"]:-moz-window-inactive {
    opacity: 0.9 !important;
}

/* context menu */
:root {
    --default-arrowpanel-background: #F5F5F5 !important;
    --panel-separator-color: rgba(0,0,0,0.15) !important;
}
menupopup > *:not(label):not([disabled="true"]):not(.menu-iconic-left):not(.menu-accel-container):not(image):not(:hover) {
    color: #000 !important;
}
menupopup:not(#BMB_bookmarksPopup) {
    appearance: none !important;
    background-color: #F5F5F5 !important;
    border: 10px solid transparent !important;
    border-radius: 15px !important;
    background-origin: border-box !important;
    background-clip: content-box, border-box !important;
    margin: -10px !important;
}
.menupopup-arrowscrollbox:not([part="arrowscrollbox"]),
.menupopup-arrowscrollbox[exportparts="scrollbox: arrowscrollbox-scrollbox"] {
    appearance: none !important;
    background-color: transparent !important;
    box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.4) !important;
    border-radius: 4px !important;
    border: 1px solid rgba(0,0,0,0.2) !important;
    overflow: auto !important;
}
menuseparator,
toolbarseparator {
    appearance: none !important;
    border-top: 1px solid rgba(0,0,0,0.15) !important;
}
menubar > menupopup menu,
menubar > menupopup menuitem,
menubar > menu > menupopup menu,
menubar > menu > menupopup menuitem,
popupset > menupopup > menu,
popupset > menupopup > menuitem,
popupset > menupopup > menu > menupopup menu,
popupset > menupopup > menu > menupopup menuitem,
popupset > menupopup > menugroup > menu,
popupset > menupopup > menugroup > menuitem,
scrollbox > toolbarbutton > menupopup menu,
scrollbox > toolbarbutton > menupopup menuitem,
scrollbox > toolbarbutton > menupopup > menu > menupopup menu,
scrollbox > toolbarbutton > menupopup > menu > menupopup menuitem,
toolbaritem > hbox > hbox > toolbarbutton > menupopup menu,
toolbaritem > hbox > hbox > toolbarbutton > menupopup menuitem,
toolbaritem > hbox > hbox > toolbarbutton > menupopup > menu menu,
toolbaritem > hbox > hbox > toolbarbutton > menupopup > menu menuitem,
menulist[open="true"] > .in-menulist:not(#PanelUI-profiler-presets-menupopup) > menuitem {
    margin: 2px 0 2px 0 !important;
}
menuitem[disabled="true"],
menu[disabled="true"] {
    color: gray !important;
    background: none !important;
}
menulist[open="true"] > .in-menulist:not(#PanelUI-profiler-presets-menupopup) > menuitem:hover:not([disabled="true"]) {
    appearance: none !important;
    margin: 0px !important;
    padding: 6px 0px 6px 11px !important;
    color: #000 !important;
    background: #E9E9E9 !important;
}
menulist[open="true"] > #PanelUI-profiler-presets-menupopup > menuitem {
    margin: 3.6px 0 3.6px 0 !important;
}
menulist[open="true"] > #PanelUI-profiler-presets-menupopup > menuitem:not([disabled="true"]):-moz-any([_moz-menuactive], :hover) {
    appearance: none !important;
    margin: 0px !important;
    padding: 6px 0px 6px 5px !important;
    color: #000 !important;
    background: #E9E9E9 !important;
}
menubar > menupopup menuitem:hover:not([disabled="true"]):not(.openintabs-menuitem),
menubar > menupopup menu:hover:not([disabled="true"]),
menubar > menupopup menu[open="true"],
menubar > menu > menupopup menuitem:hover:not([disabled="true"]):not(.openintabs-menuitem),
menubar > menu > menupopup menu:hover:not([disabled="true"]),
menubar > menu > menupopup menu[open="true"],
popupset > menupopup > menu[open="true"],
popupset > menupopup > menu:hover:not([disabled="true"]),
popupset > menupopup > menuitem:hover:not([disabled="true"]):not(.openintabs-menuitem),
popupset > menupopup > menu > menupopup menuitem:hover:not([disabled="true"]):not(.openintabs-menuitem),
popupset > menupopup > menu > menupopup menu:hover:not([disabled="true"]),
popupset > menupopup > menu > menupopup menu[open="true"],
popupset > menupopup > menugroup > menuitem:hover:not([disabled="true"]):not(.openintabs-menuitem),
popupset > menupopup > menugroup > menu:hover:not([disabled="true"]),
popupset > menupopup > menugroup > menu[open="true"],
scrollbox > toolbarbutton > menupopup menuitem:hover:not([disabled="true"]):not(.openintabs-menuitem),
scrollbox > toolbarbutton > menupopup menu[open="true"],
scrollbox > toolbarbutton > menupopup menu:hover,
scrollbox > toolbarbutton > menupopup > menu > menupopup menuitem:hover:not([disabled="true"]):not(.openintabs-menuitem),
scrollbox > toolbarbutton > menupopup > menu > menupopup menu[open="true"],
scrollbox > toolbarbutton > menupopup > menu > menupopup menu:hover,
toolbaritem > hbox > hbox > toolbarbutton > menupopup menuitem:hover:not([disabled="true"]):not(.openintabs-menuitem),
toolbaritem > hbox > hbox > toolbarbutton > menupopup menu:hover,
toolbaritem > hbox > hbox > toolbarbutton > menupopup menu[open="true"],
toolbaritem > hbox > hbox > toolbarbutton > menupopup > menu menuitem:hover:not([disabled="true"]):not(.openintabs-menuitem),
toolbaritem > hbox > hbox > toolbarbutton > menupopup > menu menu:hover,
toolbaritem > hbox > hbox > toolbarbutton > menupopup > menu menu[open="true"] {
    appearance: none !important;
    margin: 0px !important;
    padding: 5px 6px 5px 6px !important;
    color: #000 !important;
    background: #E9E9E9 !important;
}
menuitem[type="checkbox"] > .menu-iconic-left > .menu-iconic-icon,
menuitem[type="radio"] > .menu-iconic-left > .menu-iconic-icon,
menuitem[type="checkbox"] > .menu-iconic-left[_moz-menuactive="true"] > .menu-iconic-icon {
    height: 17px !important;
    width: 17px !important;
    background-color: white !important;
    border: 1px solid rgba(0,0,0,0.20) !important;
    border-radius: 3px !important;
}
.menu-iconic-left[checked="false"] > .menu-iconic-icon {
    height: 17px !important;
    width: 17px !important;
    background-color: white !important;
    border: 1px solid rgba(200,200,200,1) !important;
    border-radius: 3px !important;
}
.menu-iconic-left[checked="true"] > .menu-iconic-icon,
.checkbox-check[checked="true"] {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='svg2' height='24' width='24' version='1.2'%3E%3Cdefs id='defs4'%3E%3ClinearGradient id='linearGradient4011'%3E%3Cstop offset='0' style='stop-color:%23ffffff;stop-opacity:1' id='stop4013' /%3E%3Cstop offset='0.507761' style='stop-color:%23ffffff;stop-opacity:0.23529412' id='stop4015-3' /%3E%3Cstop offset='0.83456558' style='stop-color:%23ffffff;stop-opacity:0.15686275' id='stop4017-2' /%3E%3Cstop offset='1' style='stop-color:%23ffffff;stop-opacity:0.39215687' id='stop4019' /%3E%3C/linearGradient%3E%3ClinearGradient gradientTransform='matrix(0.5135135,0,0,0.5135135,-24.83614,-1.0212801)' gradientUnits='userSpaceOnUse' xlink:href='%23linearGradient4011' id='linearGradient12398-3' y2='44.340794' x2='71.204407' y1='6.2375584' x1='71.204407' /%3E%3ClinearGradient gradientTransform='matrix(0.8047894,0,0,0.60165743,-1628.8199,-1928.0804)' gradientUnits='userSpaceOnUse' xlink:href='%23linearGradient947-5' id='linearGradient11527-6-5' y2='3241.9966' x2='2035.1652' y1='3208.0737' x1='2035.1652' /%3E%3ClinearGradient id='linearGradient947-5'%3E%3Cstop offset='0' style='stop-color:%2364baff;stop-opacity:1' id='stop943-6' /%3E%3Cstop offset='1' style='stop-color:%233689e6;stop-opacity:1' id='stop945-2' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cmetadata id='metadata7'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cpath style='color:%23000000;display:inline;overflow:visible;visibility:visible;opacity:0.98999999;fill:url(%23linearGradient11527-6-5);fill-opacity:1.0;fill-rule:nonzero;stroke:none;stroke-width:0.99999982;marker:none;enable-background:accumulate' id='path2555-7-8-5-0-9' d='M 12,1.4999999 C 6.2064599,1.4999999 1.4999999,6.2064599 1.4999999,12 1.4999999,17.79354 6.2064599,22.5 12,22.5 17.79354,22.5 22.50001,17.79354 22.5,12 22.5,6.2064599 17.79354,1.4999999 12,1.4999999 Z' /%3E%3Cpath style='color:%23000000;display:inline;overflow:visible;visibility:visible;opacity:0.5;fill:none;stroke:%23002e99;stroke-width:0.99999988;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker:none;enable-background:accumulate;clip-rule:nonzero;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:%23000000;solid-opacity:1;fill-opacity:1;fill-rule:nonzero;filter-blend-mode:normal;filter-gaussianBlur-deviation:0;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto' id='path2555-7-8-5-1' d='M 12,1.4999999 C 6.2064599,1.4999999 1.4999999,6.2064599 1.4999999,12 1.4999999,17.79354 6.2064599,22.5 12,22.5 17.79354,22.5 22.50001,17.79354 22.5,12 22.5,6.2064599 17.79354,1.4999999 12,1.4999999 Z' /%3E%3Cpath style='color:%23000000;display:inline;overflow:visible;visibility:visible;opacity:0.5;fill:none;stroke:url(%23linearGradient12398-3);stroke-width:0.99999988;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker:none;enable-background:accumulate' id='path8655-6-0-9-5-0' d='m 21.49999,11.99966 c 0,5.24688 -4.25361,9.50034 -9.49988,9.50034 -5.2467501,0 -9.5001101,-4.25351 -9.5001101,-9.50034 0,-5.2466301 4.25336,-9.4996601 9.5001101,-9.4996601 5.24627,0 9.49988,4.25303 9.49988,9.4996601 z' /%3E%3Cpath d='m 16.019531,6.625 a 1.0009301,1.0009301 0 0 0 -0.820312,0.3808594 l -4.544922,5.7773436 -2.2656251,-1.96875 a 1.0009301,1.0009301 0 0 0 -1.4550781,0.152344 l -1.7324219,2.294922 a 1.0009301,1.0009301 0 0 0 0.1445312,1.361328 l 5.2343749,4.511719 a 1.0009301,1.0009301 0 0 0 1.453125,-0.154297 l 6.765625,-8.939453 A 1.0009301,1.0009301 0 0 0 18.669922,8.6933594 l -2.013672,-1.8125 A 1.0009301,1.0009301 0 0 0 16.019531,6.625 Z' id='path2922-6-6-0-9-4-3' style='color:%23000000;display:inline;overflow:visible;visibility:visible;opacity:0.05;vector-effect:none;fill:%23002e99;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker:none;enable-background:accumulate;font-variant-east_asian:normal' /%3E%3Cpath style='color:%23000000;display:inline;overflow:visible;visibility:visible;fill:%23002e99;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1;marker:none;enable-background:accumulate;font-variant-east_asian:normal;opacity:0.15;vector-effect:none;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1' id='path2922-6-6-0-9-4' d='m 15.98656,7.62453 2.01342,1.81209 -6.76511,8.93959 -5.2348901,-4.51006 1.73154,-2.29531 3.0604001,2.65772 z' /%3E%3Cpath style='color:%23000000;display:inline;overflow:visible;visibility:visible;fill:%23ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.84323651;marker:none;enable-background:accumulate' id='path2922-6-6-0-9' d='m 15.98656,6.62417 2.01342,1.81209 -6.76511,8.93959 -5.2348901,-4.51006 1.73154,-2.29531 3.0604001,2.65772 z' /%3E%3C/svg%3E"); !important;
    background-position: 50% 55% !important;
    height: 16px !important;
    width: 16px !important;
    border: 1px solid #2C92E3 !important;
    border-radius: 3px !important;
}
.openintabs-menuitem {
    appearance: none !important;
    margin: 0px !important;
    padding: 5px 6px 5px 6px !important;
    color: #000 !important;
    background: #E9E9E9 !important;
}
.openintabs-menuitem:hover {
    background: rgba(0,0,0,0.1) !important;
    color: #000 !important;
}
